.reset-button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2rem auto;
    display: block;
}